.sizeimg{
    height: 400px !important;
    width: 300px;
}

.intend{
    margin-left: 200px;
    margin-right: 200px;
}

.leftimg {
    height: 600px;
    width: 450px;
    float:left;
    margin: 0px 20px 20px 20px;
}

.leftpos{
    float:left;
    margin: 20px 20px 20px 20px;
}

.imgsize{
    height: 250px;
    width: 180px;
}

.pading_distance{
    transform: translate(-139px, -12px);
    width: 200px;
    position: absolute;
    right: 0;
}